@charset "UTF-8";

.clear {
  clear: both;
}

body.cmreg-overlay-visible {
  overflow: hidden;
}
.cmreg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999998;
  background-color: rgba(0, 0, 0, 0.7);
  font: normal 14px "Open Sans KR", Arial, sans-serif;
  color: #999999;
  display: none;
}
.cmreg-loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999998;
  background: rgba(0, 0, 0, 0.7) url(../img/ajax-loader-big.gif) no-repeat
    center 20%;
  background-size: 50px 50px;
}
.cmreg-overlay-inner {
  position: absolute;
  top: 5%;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: #e0e0e0;
  border: solid 1px #cccccc;
  max-width: 800px;
  padding: 2em;
  border-radius: 10px 10px;
  max-height: 90%;
  overflow: auto;
}
.cmreg-wrapper h2 {
  margin-top: 0 !important;
  color: #dddddd;
  font-size: 20px;
}
.cmreg-overlay-close {
  font: bold 35px Arial;
  color: #777777;
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
}
.cmreg-overlay .cmreg-login,
.cmreg-overlay .cmreg-registration {
  display: inline-block;
  vertical-align: top;
}
.cmreg-wrapper {
  width: 49%;
}
.cmreg-sidebar-widget .cmreg-wrapper {
  width: auto !important;
}
.cmreg-sidebar-widget h2 {
  display: none !important;
}
.entry-content .cmreg-wrapper {
  margin-bottom: 3em;
}
.cmreg-wrapper div {
  margin: 0 0 1em 0;
}
.cmreg-wrapper input {
  margin: 0 !important;
}
.cmreg-wrapper button[type="submit"] {
  padding: 0.7em 0.7em 0.7em 0.7em;
  font: bold 14px "Open Sans KR", Arial, sans-serif;
  color: white;
  border-radius: 5px 5px;
  border: none;
}
.cmreg-wrapper button[type="submit"] span {
  margin-right: 0.5em;
}
.cmreg-wrapper input[type="text"],
.cmreg-wrapper input[type="password"],
.cmreg-wrapper input[type="email"],
.cmreg-wrapper input[type="date"],
.cmreg-wrapper input[type="number"],
.cmreg-wrapper select {
  width: 70%;
  min-width: 100px;
  padding: 0.4em 0.7em;
  border: 1px solid #cccccc;
}
.cmreg-wrapper input[type="text"]:focus,
.cmreg-wrapper input[type="email"]:focus,
.cmreg-wrapper input[type="password"]:focus,
.cmreg-wrapper input[type="date"]:focus,
.cmreg-wrapper input[type="number"]:focus,
.cmreg-wrapper select:focus {
  box-shadow: 0px 0px 5px 0px #992266;
}
.cmreg-login input.text {
  width: 80%;
  min-width: 100px;
}
.cmreg-login *[type="submit"] {
  background: #229966;
}
.cmreg-registration *[type="submit"] {
  background: #336699;
}
.cmreg-loader-big {
  background-image: url(../img/ajax-loader-big.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
.cmreg-loader-bar {
  width: 43px;
  height: 11px;
  background-image: url(../img/ajax-loader-bar.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
.cmreg-loader-inline {
  display: inline-block;
  background: url(../img/ajax-loader.gif) no-repeat center center;
  width: 16px;
  height: 16px;
  margin: 0 !important;
  vertical-align: middle;
}

.cmreg-login-button {
  display: inline-block;
  padding: 0.8em 1.7em;
  background: #226699;
  color: white !important;
  border-radius: 10px 10px;
  font: bold 15px Arial;
  cursor: pointer;
}
.cmreg-toast {
  position: fixed;
  top: 40%;
  width: 20%;
  max-width: 400px;
  min-width: 200px;
  overflow: hidden;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.7);
  color: #dddddd;
  font: normal 100% sans-serif;
  border-radius: 10px;
  text-align: center;
  padding: 1em 2em;
}

.cmreg-lost-password-link,
.cmreg-login-link {
  margin-top: 1em !important;
}
.cmreg-login .cmreg-lost-password-form {
  display: none;
}
.cmreg-lost-password-form {
  margin-top: 2em;
}
.cmreg-lost-password-form input[type="email"] {
  width: 50%;
}
.cmreg-lost-password-form button[type="submit"] {
  padding: 0.7em 2em;
  background: #229966;
}
.cmreg-invitation-code-field[data-input-visible="1"] a {
  display: none;
}
.cmreg-invitation-code-field[data-input-visible="0"] input {
  display: none;
}

.cmreg-overlay.cmreg-only-login .cmreg-registration {
  display: none;
}
.cmreg-overlay.cmreg-only-registration .cmreg-login {
  display: none;
}
.cmreg-overlay.cmreg-only-login .cmreg-overlay-inner,
.cmreg-overlay.cmreg-only-registration .cmreg-overlay-inner {
  max-width: 400px;
}
.cmreg-overlay.cmreg-only-login .cmreg-wrapper,
.cmreg-overlay.cmreg-only-registration .cmreg-wrapper {
  width: 99%;
}

.cmreg-form h3 {
  margin-bottom: 0.5em;
}
.cmreg-form label {
  display: block !important;
}
.cmreg-form input[type="text"],
.cmreg-form input[type="email"],
.cmreg-form input[type="password"] {
  width: 90%;
  max-width: 500px;
  font-size: 120%;
}
.cmreg-form textarea {
  width: 90%;
  height: 100px;
  max-width: 500px;
}
.cmreg-form .form-summary {
  margin-top: 1em;
}
.cmreg-form .form-summary input {
  padding: 0.7em 2em 0.7em 2em !important;
  font: bold 18px "Open Sans", Arial, sans-serif;
  color: white;
  border-radius: 5px 5px;
  border: none;
  background: #229966;
  cursor: pointer;
}
.cmreg-form input[readonly] {
  background: #f0f0f0;
  color: #999;
}
.cmreg-form input[type="checkbox"] {
  height: auto !important;
  vertical-align: middle;
}

.cmreg-social-login-btn {
  display: inline-block;
  padding: 0 15px 0 40px;
  height: 40px;
  line-height: 40px;
}
.cmreg-social-login-btn:link,
.cmreg-social-login-btn:visited {
  color: white;
}
.cmreg-social-login-btn[data-provider="facebook"] {
  background: #3b5998 url(../img/facebook-icon-30.png) left center no-repeat;
}
.cmreg-social-login-btn[data-provider="google"] {
  background: white /*#dd4b39*/ url(../img/google-icon-30.png) 3px center
    no-repeat;
  color: black;
  border: solid 1px #ccc;
}

.cmreg-social-login-invitcode-form {
  margin-bottom: 3em;
  text-align: center;
}
.cmreg-social-login-invitcode-form .cmreg-invitation-code-field {
  width: 10em !important;
  padding: 0.5em;
  line-height: 1em;
  height: 1.8em;
}
.cmreg-social-login-invitcode-form input[type="submit"] {
  display: inline-block;
  padding: 0.7em 2em;
  background: #339900;
  color: white;
  font: bold 12px Arial;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
  border: none;
}
.cmreg-social-login-invitcode-form .cmreg-no-invit-code-btn {
  background: #666 !important;
}
.cmreg-social-login-invit-code-text {
  font-size: 120%;
}

.cmreg-field-label {
  display: block;
}
.cmreg-registration-field {
  margin-top: 1em;
}
.cmreg-registration-field input::before {
  margin-top: 1em;
  background-color: #101937;
}

.cmreg-registration-field input::after {
  margin-top: 1em;
  background-color: #101937;
}

.cmreg-registration-field input[type="checkbox"],
.cmreg-registration-field input[type="radio"] {
  width: auto !important;
  padding: 0 !important;
  min-width: 0 !important;
}
.cmreg-registration-field input[type="color"] {
  width: auto;
  padding: 0 !important;
}
.cmreg-registration-field textarea {
  width: 90%;
  min-height: 5em;
}
.cmreg-registration-field .cmreg-field-description {
  color: #999999;
  display: block;
}
.cmreg-registration-field .cmreg-field-required {
}
.cmreg-registration-field .cmreg-radio-group label,
.cmreg-registration-field .cmreg-checkbox-group label {
  display: block;
}
.cmreg-registration-field .cmreg-radio-group .cmreg-radio-label,
.cmreg-registration-field .cmreg-checkbox-group .cmreg-checkbox-label {
  margin-left: 0.5em;
}
.cmreg-registration-field .cmreg-radio-group input,
.cmreg-registration-field .cmreg-checkbox-group input {
  vertical-align: middle;
}

.cmreg-invitation-code-field .cmreg-field-description {
  color: #bbbbbb;
  display: block;
  background-color: #999999;
}

.cmreg-create-invitation-code-shortcode {
  text-align: center;
  margin-bottom: 2em;
}
.cmreg-create-invitation-code-shortcode h3 {
  font-size: 120%;
  text-align: center;
}
.cmreg-create-invitation-code-shortcode dt {
  float: left;
  clear: left;
  width: 50%;
  text-align: right;
  padding-right: 1em;
  font-weight: normal;
}
.cmreg-create-invitation-code-shortcode dt:after {
  content: ":";
}
.cmreg-create-invitation-code-shortcode dd {
  text-align: left;
}
.cmreg-create-invitation-code-btn {
  display: inline-block;
  padding: 0.5em 2em;
  background: #339900;
  color: white;
  font: bold 20px Arial;
  border-radius: 15px;
  margin: 0 auto;
  cursor: pointer;
}
.cmreg-create-invitation-code-result {
  text-align: center;
  margin: 1em 0;
}
.cmreg-create-invitation-code-result .cmreg-invitation-code-string {
  font: bold 28px monospace;
  color: #009900;
}
.cmreg-create-invitation-code-shortcode .cmreg-loader-bar {
  margin: 1em auto;
}

.cmreg-list-users-invitations-shortcode td,
.cmreg-list-users-invitations-shortcode th {
  font-size: 85%;
}

.cmreg-recaptcha div div {
  height: 78px !important;
  min-height: 78px !important;
}
.cmreg-recaptcha div div iframe {
  height: 78px !important;
  min-height: 78px !important;
}

.cmreg-registration-field.hide {
  display: none;
}
.cmreg-registration-field.show {
  display: block;
}

@media (max-width: 480px) {
  .cmreg-overlay-inner {
    top: 0;
    max-height: 100%;
  }
  .cmreg-login,
  .cmreg-registration {
    display: block;
    width: 100%;
    margin-bottom: 2em;
  }
}
