﻿@charset "utf-8";

@font-face { font-family: 'NanumSquareRound Thin'; font-style: normal; font-weight: 100; src: url(./font/NanumSquareL.otf) format('opentype'); }
    @font-face { font-family: 'NanumSquareRound Light'; font-style: normal; font-weight: 300; src: url(./font/NanumSquareL.otf) format('opentype'); }
    @font-face { font-family: 'TmonMonsori'; font-style: normal; font-weight: 400; src: url(./font/TmonMonsori.otf) format('opentype'); }
    @font-face { font-family: 'NanumSquareRound Medium'; font-style: normal; font-weight: 500; src: url(./font/NanumSquareR.otf) format('opentype'); }
    @font-face { font-family: 'NanumSquareRound Bold'; font-style: normal; font-weight: 700; src: url(./font/NanumSquareB.otf) format('opentype'); }
    @font-face { font-family: 'NanumSquareRound Black'; font-style: normal; font-weight: 900; src: url(./font/NanumSquareEB.otf) format('opentype'); }

@font-face {
    font-family: 'TmonMonsori';
    font-style: normal;
    font-weight:400;
    src:url(./font/TmonMonsori.otf) format('embedded-opentype'),
        url(./font/TmonMonsori.woff) format('woff'),
        url(./font/TmonMonsori.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight:400;
  src:url(./font/NanumSquareR.otf) format('embedded-opentype'),
      url(./font/NanumSquareRoundR.woff) format('woff'),
      url(./font/NanumSquareRoundR.ttf) format('truetype');
}
/* reset */
html{font-size:10px;-webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
html,body,button,dl,dt,dd,div,form,fieldset,legend,h1,h2,h3,h4,h5,h6,input,select,textarea,ul,ol,li,p,pre,table,td,th,caption,a,button,address{margin:0;padding:0; }
h1,h2,h3,h4,h5,h6{font-weight:normal; font-size:1.4rem;}
iframe{
  display:block;
  width:100vw;
  height: 100vh
}
body{font-size:1.4rem; line-height: 1.4;color:#2b2b2b;width: 100%;font-family:'TmonMonsori', '맑은 고딕','Malgun Gothic', 'NanumSquareRound', '돋움','Dotum',sans-serif;letter-spacing:-0.04em;}
a,input,select,textarea,button,label{-webkit-appearance: none; -moz-appearance: none; appearance: none;border-radius:0; vertical-align:top;}
input{font-weight: normal; color: #626262;outline: none;}
a{cursor:pointer;}
caption{visibility:hidden; font-size:0;text-indent:-9999px; position:absolute; left:-100px; top:-100px; opacity:0}
input{vertical-align:middle;}
input, textarea, select, button{font-size:1.4rem; font-family:'Noto sans',HelveticaNeue-Light,AppleSDGothicNeo-Light,sans-serif,arial;}
ol,ul,li{list-style:none}
a{text-decoration:none; color:#2b2b2b;cursor: pointer;}
img{vertical-align:top; border:0;}
table{border-collapse:collapse;border-spacing:0; width:100%;}
em{font-style:normal;}
button{border:0; background:none;outline: none; cursor: pointer; }
body {
  background-image: url(../img/dfk_wallpaper_blur.jpg);
  background-repeat: repeat;
}

.blind{position:absolute;overflow:hidden;clip:rect(0 0 0 0); margin:-1px;width:1px;height:1px;}
.pc { display:block; }
.mobile { display: none; }

.dimmed { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,.5); display: none; z-index: 13; cursor: pointer; }

/* #wrapper{background: url(../img/main/bg_main.jpg) repeat;min-width:1200px;} */
.sp_comm{background-image:url(../img/common/sp_common5e1f.png?v=2);background-repeat: no-repeat;display: inline-block;vertical-align: top;}

/*language box*/
#languageBox { text-align: center; min-height: 10px; }
#languageBox .selectbox { width: inherit; display: inline-block; background: transparent; border: none; box-shadow: none; text-align: left; }
#languageBox .selectbox .label { color: #777; height: 30px; width: auto; }
#languageBox .selectbox:hover .label { color: #d6d6d6; }
#languageBox .selectbox-wrapper { -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; z-index: 10; width: auto; color: white; display: inline-block; }
#languageBox .selectbox-wrapper.selectbox-open { background: #3a3e46; }
#languageBox .selectbox-wrapper.selectbox-open .selectbox .label { color: white; }
#languageBox .selectbox-hide-select { width: auto; height: auto; text-align: left; }
#languageBox .selectbox-items { margin-top: 0; background: #3a3e46; border: 0; box-shadow: none; text-align: left; }
#languageBox .selectbox-items li.selected { color: #bdbdbb; background: none; }
#languageBox .selectbox-items li { display: block; padding: 5px 8px; border-top: 1px solid #FFF; border-bottom: 1px solid #EEE; color: #666; cursor: pointer; background: none !important; border: none; color: #bdbdbb; }
#languageBox .selectbox-items li:hover { color: #d6d6d6; }
#languageBox .selectbox .button { width: 30px; height: 30px; }
#languageBox .selectbox .button:after { background: url(../img/launcher/btn_arror_right.png) no-repeat 15px 10px; background-size: 7px; width: 100%; height: 100%; transform: rotate(90deg); }

/*header*/
#header{position: relative}
#header.nav-up .pcHeader {top: -70px;}
/*pcHeader*/
.pcHeader{position: fixed;left:0;right:0;top:0;height:90px;z-index:90;width:100%;transition:all .2s ease-in-out;}
/*디파코 헤더 수정포인트*/
.pcHeader .innerPc{height:90px;background-color: rgba(29, 43, 92, 0.1);position: relative;text-align: center;}
.pcHeader .innerPc:after{clear: both;display: block;content: '';}
.pcHeader h1{text-align: left;position: absolute;left:0;top:0;}
.pcHeader h1 a{display: inline-block;width:306px;height:90px;background-image:url(../img/common/logo_pc.png);background-repeat:no-repeat;}
.pcHeader nav{font-size: 15px;}
.pcHeader .gnb{vertical-align: top;font-size: 0;}
.pcHeader .gnb .depth01{overflow: hidden;display: inline-block;}
.pcHeader .gnb .depth01 > li{float:left;}
.pcHeader .gnb .depth01 > li > a{display: block;padding:0 33px;color:#b5b5b5;line-height: 90px;font-size: 20px;}
.pcHeader .gnb .depth01 > li a:hover{color:#fff;}
.pcHeader .gnb .depth02{position: absolute;left:0;top:69px;display: none;height:40px;width:100%;-webkit-box-sizing: border-box;box-sizing: border-box;}
.pcHeader .gnb .depth02 > li{float:left;}
.pcHeader .gnb .depth02 > li a{display:block;color:#fff;line-height: 40px;}
.pcHeader .gnb .depth02 > li + li{margin-left:32px;}
.pcHeader .gnb .depth02 > li:first-child{margin-left:15px;}
.pcHeader .gnb .depth01 > li.active .depth02{display: block;}
.pcHeader .gnb .depth01 > li.active > a{color:#fff;}
.pcHeader .gnb .depth01 > li.active > a > .icoArr{background-image:url(../img/common/icon_select_arr_blue.svg);transform: rotate(-180deg)}
.pcHeader .gnb .depth01 > li > a:hover > .icoArr{background-image:url(../img/common/icon_select_arr_blue.svg);}
.pcHeader .gnb .depth01 > li > a:hover > .icoBlank{background-image:url(../img/common/icon_blank_blue.svg);}
.pcHeader .gnb .depth01 > li > a > .icoArr{display: inline-block;width: 12px;height:8px;background-image:url(../img/common/icon_select_arr_gray.svg);background-size:12px auto;background-repeat:no-repeat;background-position: 50%;margin-left:4px;vertical-align: top;margin-top:31px;}
.pcHeader .gnb .depth01 > li > a .sp_comm { display: inline-block; width: 28px; height: 28px;background-position:-254px 0;margin-top:32px;}
.pcHeader .gnb .depth01 > li > a:hover .sp_comm{background-position: -286px 0}
.pcHeader .gnb .depth01 > li:nth-child(2) .depth02{padding-left:344px;}
.pcHeader .gnb .depth01 > li:nth-child(3) .depth02{padding-left:450px;}
.pcHeader .gnb .depth01 > li:nth-child(4) .depth02{padding-left:552px;}
.pcHeader .innerPc .btnLogin {position:absolute;right:15px;top:0;display:block;z-index: 2;font-size: 18px;color:#fff;line-height:32px;padding:28px 0;opacity: .6;}
.pcHeader .innerPc .btnLogin .sp_comm{width:34px;height:34px;background-position:0 0;position: relative;margin:0 12px 0 24px;}
.pcHeader .innerPc .btnLogin .sp_comm:after{content: '';display: inline-block;background-color:rgb(255,255,255);width:1px;height:13px;position: absolute;left:-12px;top:50%;margin-top:-7px; }
.pcHeader .innerPc .btnLogin:hover{opacity: 1;}

.mobileHeader{display: none; position: fixed; left: 0; right: 0; top: 0; height:50px; z-index: 90; width: 100%; background-color: rgba(29, 43, 92, 0.1); transition: all .2s ease-in-out;}
.mobileHeader .btnNav {display: block;position: absolute; left: 0; top: 0;height: 50px; z-index: 80; }
.mobileHeader .btnNav .iconGnb {display: inline-block;width: 21px; height: 19px; padding: 15px 12px 14px; }
.mobileHeader .btnNav .iconGnb>span { display: block; width: 21px; height: 3px; background-color: #d2cfce; -webkit-transition: .3s ease-out all; transition: .3s ease-out all; margin-top: 5px }
.mobileHeader .btnNav .iconGnb>span:first-child{margin-top:0;}
.btnNav.closeBtn{ -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); z-index:9991; }
.btnNav.closeBtn .iconGnb span:nth-child(2){width: 0px;transition:none;}
.btnNav.closeBtn .iconGnb span:nth-child(1){ -webkit-transform: translateY(6px); -ms-transform: translateY(6px); -o-transform: translateY(6px); transform: translateY(6px); }
.btnNav.closeBtn .iconGnb span:nth-child(3){ -webkit-transform: translateY(-10px) rotate(90deg); -ms-transform: translateY(-10px) rotate(90deg); -o-transform: translateY(-10px) rotate(90deg); transform: translateY(-10px) rotate(90deg); }

.btnNav.closeBtn .iconGnb>span{width:25px;background-color: #4a3c3c;}
.btnNav.closeBtn .iconGnb{padding:12px 8px 14px}
/*디파코 모바일헤더 수정포인트*/
.mobileHeader .headerTop{position: relative;z-index: 9;}
.mobileHeader .headerTop h1{text-align: center;}
.mobileHeader .headerTop h1 a{display: inline-block;width:158px;height:50px;background-image:url(../img/common/logo_m.png);background-size:auto 50px;background-repeat:no-repeat;}
.mobileHeader .headerTop .btnMypage {position:absolute;right:15px;top:8px;display: inline-block;width:30px;height:30px;background-image:url(../img/common/icon_mypage.svg);background-size:26px;background-repeat:no-repeat;background-position: 50%;z-index: 2;}

.mobileHeader .headerTop .btnLogin {position:absolute;right:11px;top:14px;display: inline-block;width:30px;height:30px;z-index: 2;font-size: 14px;color:#fff;text-align: center;line-height: 50px;}
.mobileHeader .headerTop .btnLogin .sp_comm{background-position:-38px -80px;width:23px;height:23px;}
.mobileHeader .headerTop .btnLogin.out .sp_comm{background-position:-64px -80px;}

.mobileHeader .headerTop .btnApp {position:absolute;right:10px;top:14px;width:30px;height:30px;z-index: 2;font-size: 14px;color:#fff;text-align: center;line-height: 50px;}
.mobileHeader .headerTop .btnApp .sp_comm{background-position:-132px -38px;width:23px;height:23px;}
.mobileHeader .headerTop .btnApp.playStore{display: inline-block;}
.mobileHeader .headerTop .btnApp.appStore{display: none;}
.isIOS .mobileHeader .headerTop .btnApp.playStore{display: none;}
.isIOS .mobileHeader .headerTop .btnApp.appStore{display: inline-block;}

.mobileHeader .navInner{overflow-x: hidden;height:auto;min-height:750px;position: relative;}
.mobileHeader nav { position: fixed; top: 0; bottom: 0; left: -100%; width: 100%; max-width: 375px; overflow-x: hidden;z-index: 80; transition: .2s left;background-color:#fffefa;}
.mobileHeader nav .logo{height:210px;text-align: center;}
.mobileHeader nav .logo a{display: inline-block;width: 201px;height: 106px;background-image: url(../img/common/logo_nav.png);background-size: 201px auto;background-repeat: no-repeat;margin:52px 0;}
.mobileHeader nav .gnb { height: 100%; overflow-x: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch; z-index: 1; background-color: #fff; position: relative; }
.mobileHeader nav .gnb .depth01{padding:0 48px;}
.mobileHeader nav .gnb .depth01 > li:first-child{border-top:1px solid #d7d4cf;}
.mobileHeader nav .gnb .depth01 > li{background-color: #fff;min-height:50px;text-align: center;border-bottom:1px solid #d7d4cf;}
.mobileHeader nav .gnb .depth01 > li > a{font-size:20px;color:#4a3c3c;display: block;padding:11px 0 11px;position: relative;}

.mobileHeader nav .gnb .depth01 > li > a:before,
.mobileHeader nav .gnb .depth01 > li > a:after{content: '';background-image:url(../img/common/sp_common_m.png);background-repeat: no-repeat;display: none;vertical-align: top;background-size: 160px;width:11px;height:17px;position: absolute;top:50%;margin-top:-8px;}

.mobileHeader nav .gnb .depth01 > li > a:before{background-position-x: -120px;left:41px;}
.mobileHeader nav .gnb .depth01 > li > a:after{background-position-x: -133px;right:41px;}
.mobileHeader nav .gnb .depth01 > li.active a:before,
.mobileHeader nav .gnb .depth01 > li.active a:after{display: inline-block;}

.mobileHeader nav .gnb .icoBlank{display: inline-block;width: 12px;height:12px;background-image:url(../img/common/icon_blank.svg);background-size:12px;background-repeat:no-repeat;background-position: 50%;margin-left:4px;vertical-align: top;margin-top: 3px;}
.mobileHeader nav .gnb .depth01 > li.active > a > .icoArr{transform: rotate(-180deg)}
.mobileHeader nav .gnb .icoArr{display: inline-block;width: 10px;height:6px;background-image:url(../img/common/icon_select_arr.svg);background-size:10px auto;background-repeat:no-repeat;background-position: 50%;margin-left:4px;vertical-align: top;margin-top: 6px;}
.mobileHeader .navFoot{position: absolute;bottom:0;left:0;right:0;text-align: center;z-index: 1;}
.mobileHeader .navFoot .dfkorea{display: inline-block;width:98px;height:30px;background-image:url(../img/common/logo_dfkorea_nav.png);background-size:85px auto;background-repeat:no-repeat;}
.mobileHeader .navFoot p{line-height:1.5;font-size:9px;margin:2px 0 15px;color:#4a3c3c;opacity: .6;}
.mobileHeader .gnbArea{text-align: center;}
.mobileHeader .btnForum{background-color: #f1efe8;text-align: center;width:275px;height:60px;display: inline-block;margin-top:34px;}
.mobileHeader .btnForum em{display: inline-block;line-height: 60px;font-size: 20px;}
.mobileHeader .btnForum em .sp_comm{width:20px;height:20px;background-position-x: -22px;margin-top:23px;margin-right:5px;}
.mobileHeader .btnForum + .btnForum{margin-top:10px;}
#header.nav-up .mobileHeader{ top: -50px; }
#header.nav-up .pcHeader { top: -90px; }

/*sub*/
.container .subHeader{padding:200px 0 117px;text-align: center;}
.container .subHeader h3 { position: relative; font-size:45px; color: #fff; padding: 0 48px; display: inline-block; font-weight:600;}
.container .subHeader h3:before,.container .subHeader h3:after{content:'';background-image:url(../img/common/sp_common.png);background-repeat: no-repeat;display: inline-block;vertical-align: top;width:18px;height:28px;position: absolute;top:50%;margin-top:-14px;opacity: .5;}
.container .subHeader h3:before{background-position: -184px 0;left:0;}
.container .subHeader h3:after{background-position: -206px 0;right:0;}
.container .subContent{width:1200px;margin:0 auto;padding:65px 0 80px;}

/*login*/
.loginBg{height:380px;background-image:url(../img/common/bg_login.jpg);background-size:cover;background-repeat:no-repeat;background-position: 50%;}
.loginWrap{width:1100px;margin: 0 auto;padding-bottom:80px}
.login{background-color: #fffefa;margin-top:-110px;padding:0 75px 85px;}
.login .loginHeader{text-align: center;padding-top:67px;}
.login .loginHeader h3 { position: relative; font-size: 45px; color: #4a4a4a; padding: 0 48px; display: inline-block; }
.login .loginHeader h3:before,.login .loginHeader h3:after{content:'';background-image:url(../img/common/sp_common.png);background-repeat: no-repeat;display: inline-block;vertical-align: top;width:18px;height:28px;position: absolute;top:50%;margin-top:-14px;opacity: .3;}
.login .loginHeader h3:before{background-position: -140px 0;left:0;}
.login .loginHeader h3:after{background-position: -162px 0;right:0;}
.login .loginContent{margin-top:35px;border-top:1px solid #d5d4cf;border-bottom:1px solid #d5d4cf;padding:40px 0 35px;}
.login .note{color:#66615c;font-size:15px;margin-top:18px;text-align: center;}
.loginSnsList ul li{margin-top:15px;}
.loginSnsList ul li > a{display: block;width:480px;margin:0 auto;height:85px;line-height: 45px;position: relative;padding:20px;vertical-align: top;text-align: center;font-size:22px;box-sizing: border-box;}
.loginSnsList ul li:first-child{margin-top:0;}
.loginSnsList ul li.facebook a{background-color: #3b5998;color:#fff;}
.loginSnsList ul li.google a{background-color: #fff;color:#615e54;border:1px solid #9b9685;}
.loginSnsList ul li > a .ico_sns{float:left;background-repeat:no-repeat;width:45px;height:45px;padding-right:20px;background-size: 40px;position: relative;vertical-align: top;background-position:0 50%;background-repeat: no-repeat;}
.loginSnsList ul li > a .ico_sns:after{content:'';display:inline-block;width:1px;height:45px;background-color:rgba(255,255,255,.5);position: absolute;right:0;top:50%;margin-top:-23px;vertical-align: top;}
.loginSnsList ul li.facebook a .ico_sns{background-image:url(../img/common/icon_facebook.png);}
.loginSnsList ul li.google a .ico_sns{background-image:url(../img/common/icon_google.png);}
.loginSnsList ul li.google a .ico_sns:after{background-color:#afab9c; }
.loginSnsList ul li a em{display: block;overflow: hidden;text-indent: -10px;}
.login .appLinkList{display:none;}

/*footer*/
footer .innerFooter{background-color: #212121;text-align: center;padding:35px 0px 120px 35px;}
footer .innerFooter .snsList a{display: inline-block;width: 62px;height:62px;background-image:url(../img/common/icon_snsae52.svg?v=5);background-size:auto 90%;background-repeat:no-repeat;margin:0 6px;opacity: 0.5;transition:0.2s;}
footer .innerFooter .snsList a.facebook{background-position: 0 50%;}
footer .innerFooter .snsList a.youtube{background-position: 20% 50%;}
footer .innerFooter .snsList a.twitch{background-position: 40% 50%;}
footer .innerFooter .snsList a.twitter{background-position: 60% 50%;}
footer .innerFooter .snsList a.instagram{background-position: 80% 50%;}
footer .innerFooter .snsList a.gamewith{background-position: 100% 50%;}
footer .innerFooter .snsList a:hover{opacity:1;}
footer .innerFooter .info > a:link {text-decoration: none; color: #bebebe;}
footer .innerFooter .info > a:visited {text-decoration: none; color: #eeeeee;}
footer .innerFooter .info > a:active {text-decoration: none; color: #fff;}
footer .innerFooter .info > a:hover {text-decoration: none; color: #fff;}

.innerFooter .dfkorea
{
  float: left;
  display: inline-block;
  vertical-align: middle;
  width:240px;
  height:65px;
  background-image:url(../img/common/logo_dfkorea.svg);
  background-size:auto 65px;
  background-repeat:no-repeat;
  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight:400;

  src:url(./font/NanumSquareRoundR.otf) format('embedded-opentype'),
      url(./font/NanumSquareRoundR.woff) format('woff'),
      url(./font/NanumSquareRoundR.ttf) format('truetype');
}
.innerFooter .info
{
  float: left;
  text-align: left;
  line-height:20px;
  font-size: 0.9em;
  padding: 0px 0px;
  display: block;
  color:#999999;
  line-height:1.3em;
  letter-spacing: 1px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(./font/NotoSansKR-Regular.woff2) format('woff2'),
       url(./font/NotoSansKR-Regular.woff) format('woff'),
       url(./font/NotoSansKR-Regular.otf) format('embedded-opentype'),
       url(./font/NotoSansKR-Regular.ttf) format('truetype');
}
.innerFooter .copyrights
{
  float: left;
  vertical-align: top;
  line-height:25px;
  font-size:12px;
  color:#989898;
  display:inline-block;
  margin-left:5px;
  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight:400;
  src:url(./font/NanumSquareRoundR.otf) format('embedded-opentype'),
      url(./font/NanumSquareRoundR.woff) format('woff'),
      url(./font/NanumSquareRoundR.ttf) format('truetype');
}
.twRating{margin:32px 0;}
.twRating .taiwan{display:inline-block;color:#989898;padding-left:62px;font-size:12px;line-height:20px;position: relative;background-image:url(../img/common/img_tw_age.jpg);background-size:45px;background-repeat:no-repeat;background-position:0 50%;text-align: left;vertical-align: top;}
.termsList{padding:25px 0 0;}
.termsList a{display:inline-block;color:#989898;font-size:15px;padding:0 42px;position: relative;}
.termsList a:hover{color:#fff;}
.termsList a:after{content:'';display: inline-block;height:11px;width:1px;background-color: #646464;position: absolute;left:0;top:50%;margin-top:-6px;}
.termsList a:first-child:after{display: none;}

.footerAppList{text-align:center;padding-top:25px;display:none;}
.footerAppList .appInner{display:inline-block;border:1px solid #bcbcbc;overflow:hidden}
.footerAppList .playStore{border-left:1px solid #bcbcbc;box-sizing:border-box;}
.footerAppList .appInner > a{display:block;float:left;width:auto;position:relative;}
.footerAppList .appInner > a:hover:after{content:'';position:absolute;left:0;right:0;top:0;bottom:0;background-color:rgba(255,255,255,.3);}
footer .footerAppList{display:block;}

/*language box*/
#languageBox { text-align: center; }
#languageBox .selectbox { width: inherit; display: inline-block; background: transparent; border: none; box-shadow: none; text-align: left; }
#languageBox .selectbox .label { color: #777; height: 30px; width: auto; }
#languageBox .selectbox:hover .label { color: #d6d6d6; }
#languageBox .selectbox-wrapper { -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; z-index: 10; width: auto; color: white; display: inline-block; }
#languageBox .selectbox-wrapper.selectbox-open { background: #3a3e46; }
#languageBox .selectbox-wrapper.selectbox-open .selectbox .label { color: white; }
#languageBox .selectbox-hide-select { width: auto; height: auto; text-align: left; }
#languageBox .selectbox-items { margin-top: 0; background: #3a3e46; border: 0; box-shadow: none; text-align: left; }
#languageBox .selectbox-items li.selected { color: #bdbdbb; background: none; }
#languageBox .selectbox-items li { display: block; padding: 5px 8px; border-top: 1px solid #FFF; border-bottom: 1px solid #EEE; color: #666; cursor: pointer; background: none !important; border: none; color: #bdbdbb; }
#languageBox .selectbox-items li:hover { color: #d6d6d6; }
#languageBox .selectbox .button { width: 30px; height: 30px; }
#languageBox .selectbox .button:after { background: url(../img/launcher/btn_arror_right.png) no-repeat 15px 10px; background-size: 7px; width: 100%; height: 100%; transform: rotate(90deg); }

/*gotoTop*/
.btn_gotoTop{background-color:#4a4237;display:block;width:70px;height:70px;border-radius: 50%;position: fixed;bottom:50px;right:20px;border:2px solid #fff;z-index: 10;cursor: pointer;}
.btn_gotoTop a{display: block;height:70px;background-repeat: no-repeat;background-image: url(../img/common/icon_arr_top.svg);background-size: 36px auto;background-position: 50%;}

/*telegram*/
.telegram{background-color:#4a4237;display:block;width:70px;height:70px;border-radius: 50%;position: fixed;bottom:50px;right:100px;border:2px solid #fff;z-index: 10;cursor: pointer;}
.telegram a{display: block;width:70px;height:73px;background-repeat: no-repeat;background-image: url(../img/main/telegram.png);background-size: 140px auto;background-position: 50%;}

/*footer*/
footer .mainVisual {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 1920px;
}


/*nodata*/
.noData{background-color: #fff;display: block;text-align: center;padding:230px 0;}
.noData p{padding-top: 94px;position: relative;font-size: 25px;color:#474039;line-height:54px;}
.noData p:after{content:'';width:82px;height:82px;display:inline-block;background:url(../img/common/icon_nodata.png);background-repeat:no-repeat;top:0;position: absolute;left:50%;margin-left:-41px;}

#loading{display: none;color:#fff;font-size:0;text-align: left;line-height: 0;width:42px;height:42px;margin:15px auto 10px;}
.sk-fading-circle {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative; }
  .sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #353d55;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
            animation: sk-circleFadeDelay 1.2s infinite ease-in-out both; }
  .sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg); }
  .sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg); }
  .sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg); }
  .sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }
  .sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg); }
  .sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg); }
  .sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg); }
  .sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); }
  .sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); }
  .sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
  .sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
  .sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
  .sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }
  .sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; }
  .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s; }

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0; }
  40% {
    opacity: 1; } }

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0; }
  40% {
    opacity: 1; } 


}

/************* 얼럿팝업 *************/
.popup { position: fixed; width: 100%; height: 100%; background: rgba(0, 0, 0, .6); top: 0; left: 0; z-index: 999; display: none; }
.popup .content { width: auto; min-width: 600px; height: auto; min-height: 240px; display: inline-block; top: 52%; left: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); position: relative; max-width: 100%; color: white; font-size: 24px; overflow: inherit; border: 1px solid #555; background: black; padding: 0; }
.popup .btnClose { height: 100%; display: inline-block; position: absolute; width: 68px; top: 12px; right: 12px; opacity: .5; text-align: center; height: 68px; }
.popup .btnClose:after,
.popup .btnClose:before { content: ''; display: block; position: absolute; left: -5px; height: 2px; background-color: #fff; width: 80px; right: 0; -webkit-transition: all .3s ease-in; transition: all .3s ease-in; }
.popup .btnClose:before { -webkit-transform: rotate(45deg); transform: rotate(45deg); top: 50%; }
.popup .btnClose:after { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); bottom: 50%; }
.popup .btnClose span { display: inline-block; line-height: 65px; color: #fff; opacity: 0; font-size: 22px;margin-left: -10px; width: 100%; }
.popup .btnClose:hover { opacity: .8; }
.popup .btnClose:hover span { opacity: 1; }
.popup .btnClose:hover:before { top: 0; -webkit-transform: rotate(0); transform: rotate(0); width: 68px; }
.popup .btnClose:hover:after { bottom: 0; -webkit-transform: rotate(0); transform: rotate(0); width: 68px; }
.popup .content .btnClose { width: 68px; height: 68px; display: inline-block; position: absolute; top: -88px; right: 0; }
.popup .container { display: inline-block; width: 100%; }
.popup .container .title { font-size: 24px; color: white; font-weight: normal; }
.popup .container .btnConfirm { width: 170px; height: 70px; border: none; background: url('../img/pop_btn_confirm.png') no-repeat; background-size: 100%; }
.popup .container button[type="submit"] { width: 274px; height: 87px; border: none; background: url('../img/pop_btn_submit.png') no-repeat; margin-top:11px; background-size: 100%; }
.popup .container .bnr img { width: 100%; }
.alertPop.popup .content {     min-width: 500px; max-width: 500px; height: auto; padding: 60px 50px 60px; color: #514540; text-align: left; z-index: 2; background: url(../img/common/pop_contents.png) 0 0 repeat-y; background-size: 100%; min-height: 0; text-align: center; }
.alertPop.popup .content:before { content: ""; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 22px; background:#efe9e4  url('../img/common/pop_top.png') 0 0 no-repeat; background-size: 100%; }
.alertPop.popup .content:after { content: ""; display: block; position: absolute; left: 0; bottom:0; width: 100%; height: 22px; background:#efe9e4 url('../img/common/pop_bottom.png') 0 0 no-repeat; background-size: 100%; }
.alertPop.popup .content p { font-size: 20px; margin-bottom: 25px; line-height: 1.5; }
.alertPop.popup .content p span { color: #966204; }
.alertPop.popup .content h3 { font-size:17px; font-weight: bold; margin-bottom: 10px; }
.alertPop.popup .content h4 { font-size:15px; font-weight: bold; margin-bottom: 13px; color: #966205; }
.alertPop.popup .content label.box { border: solid 1px #7f5b1b; }
.alertPop.popup .content label.box input { background: #fff; }
.alertPop.popup .content label.box.center:before { display: none; }
.alertPop.popup .content label.box.center input { text-indent: 0; text-align: center; }
.alertPop.popup .content.instant { min-width: 400px; }
.alertPop.popup .content .btnDone { width: 120px; height: 49px; background: url('../img/common/pop_btn_confirm.png') no-repeat; background-size: 100%; border: none; }
.alertPop.popup .content .btnDone:hover { filter: none; }

/************* 미디어 팝업 *************/
.blkPop { position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 100%; background: rgba(0,0,0,0.8); display: none;}
.blkPop .contents { width: 100%; max-width: 80%; height: auto; text-align: left; z-index: 2; position: absolute; left: 0; right: 0; top: 50%; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); margin: 0 auto;     cursor: initial;}
.moviePop .movieSection { position: relative; width: 100%; height: 100%; padding-top: 56.25%; border: 1px solid #584b42; background: #000; }
.moviePop .movieSection iframe { position: absolute; width: 100%; height: 100%; top: 0; }
.moviePop .btnPop { position: absolute; left: 0; top: -62px; width: 100%; }
.moviePop .btnPop:after { content: " "; display: block; opacity: 0.2; position: absolute; left: 0; top: 24px; width: calc(100% - 280px); height: 1px; background: #fff; }
.moviePop .btnSocial { position: absolute; right: 98px; top: 4px; }
.moviePop .btnSocial li:after { content: " "; display: block; position: absolute; left: -10px; top:10px; width: 1px; height: 18px; background: #808080; }
.moviePop .btnSocial li { float: left; width: 38px; height: 38px; margin: 0 8px 0; position: relative;}
.moviePop .btnSocial li:first-child { margin-left: 0;  }
.moviePop .btnSocial li:first-child:after{display: none;}
.moviePop .btnSocial li a { opacity: 0.5; background: url(../img/common/btn_pop_social.png) 0 0 no-repeat; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }
.moviePop .btnSocial li a:hover { opacity: 1; }
.moviePop .btnSocial .btnSocialTwit a { background-position: -83px 0; }
.moviePop .btnSocial .btnSocialFbook a { background-position: -42px 0; }
.moviePop .btnSocial .btnSocialGoogle a { background-position: 0 0; }



.moviePop .btnClose_w { position: absolute; right: 0; top: 0; width: 55px; height: 55px; }
.moviePop .btnClose_w:after { content: " "; display: block; opacity: 0.2; position: absolute; left: -44px; top: 24px; width: 25px; height: 1px; background: #fff; }
.imagePop .imageSection { position: relative; width: 100%; height: auto; border: 1px solid #584b42; background: #000; }
.imagePop .btnPop { position: absolute; left: 0; top: -62px; width: 100%; }
.imagePop .btnPop:after { content: " "; display: block; opacity: 0.2; position: absolute; left: 0; top: 24px; width: calc(100% - 75px); height: 1px; background: #fff; }
.imagePop .btnSocial { position: absolute; right: 109px; top: 11px; }
.imagePop .btnSocial :after { content: " "; display: block; position: absolute; left: 42px; top: 3px; width: 1px; height: 18px; background: #808080; }
.imagePop .btnSocial li { float: left; width: 24px; height: 26px; margin: 0 0 0 18px; }
.imagePop .btnSocial li:first-child { margin-left: 0; margin-right: 18px; }
.imagePop .btnSocial li a { opacity: 0.5; background: url('../img/btn_pop_social.png') 0 0 no-repeat; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }
.imagePop .btnSocial li a:hover { opacity: 1; }
.imagePop .btnSocial .btnSocialTwit { border-left: 1px solid #362d27; }
.imagePop .btnSocial .btnSocialTwit a { background-position: -50px 0; }
.imagePop .btnClose_w { position: absolute; right: 0; top: 0; width: 68px; height: 68px; }
#imagePop .owl-nav button { opacity: 0.5; position: absolute; top: 50%; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 104px; height: 104px; outline: none; text-indent: -9999px; background: transparent; -moz-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; -webkit-transition: opacity 0.3s ease; transition: opacity 0.3s ease; }
#imagePop .owl-nav button:hover { opacity: 1; }
#imagePop .owl-nav .owl-prev { right: 100%; }
#imagePop .owl-nav .owl-prev:before { content: ''; position: absolute; width: 47px; height: 74px; margin: auto; top: 0; bottom: 0; left: 0; right: 0; background: url(../img/common/common_icn.png) no-repeat -5px -5px; }
#imagePop .owl-nav .owl-next { left: 100%; }
#imagePop .owl-nav .owl-next:before { content: ''; position: absolute; width: 47px; height: 74px; margin: auto; top: 0; bottom: 0; left: 0; right: 0; background: url(../img/common/common_icn.png) no-repeat -55px -5px; }
#imagePop .owl-dots { position: absolute; left: 0; bottom: -36px; width: 100%; font-size: 0; line-height: 0; text-align: center; }
#imagePop .owl-dots button { display: inline-block; width: 16px; height: 16px; margin: 0 0 0 9px; background: #888584; outline: none; -moz-transition: 0.3s all; -o-transition: 0.3s all; -webkit-transition: 0.3s all; transition: 0.3s all; }
#imagePop .owl-dots button:first-child { margin-left: 0; }
#imagePop .owl-dots button.active,
#imagePop .owl-dots button:hover { background: white; }

.mediaPopup .btnClose { height: 100%; display: inline-block; position: absolute; width: 68px; top: -14px; right: 0px; opacity: .5; text-align: center; height: 68px; z-index: 2; }
.mediaPopup .btnClose:after,
.mediaPopup .btnClose:before { content: ''; display: block; position: absolute; left: -5px; height: 2px; background-color: #fff; width: 80px; right: 0; -webkit-transition: all .3s ease-in; -moz-transition: all .3s ease-in; -o-transition: all .3s ease-in; transition: all .3s ease-in; }
.mediaPopup .btnClose:before { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); top: 50%; }
.mediaPopup .btnClose:after { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); bottom: 50%; }
.mediaPopup .btnClose span { display: inline-block; line-height: 65px; color: #fff; opacity: 0; font-size: 22.4px; font-size: 30.799px; font-size:22px; margin-left: -10px; width: 100%; }
.mediaPopup .btnClose:hover { opacity: .8; }
.mediaPopup .btnClose:hover span { opacity: 1; }
.mediaPopup .btnClose:hover:before { top: 0; -webkit-transform: rotate(0); -moz-transform: rotate(0); -ms-transform: rotate(0); -o-transform: rotate(0); transform: rotate(0); width: 66px; }
.mediaPopup .btnClose:hover:after { bottom: 0; -webkit-transform: rotate(0); -moz-transform: rotate(0); -ms-transform: rotate(0); -o-transform: rotate(0); transform: rotate(0); width: 66px; }
.mediaPopup .content .btnClose { width: 68px; height: 68px; display: inline-block; position: absolute; top: -88px; right: 0; }

.ir { display: block; color: transparent; overflow: hidden; width: 100%; height: 100%;font-size:1px;}


#classPop { position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 100%; background: rgba(0,0,0,0.8); display: none; }
#classPop .contents { margin: 0 10px; position: relative; color: #c8c8c8; height: 100%; }
#classPop .contents .classSection { position: absolute; top: 50%; left: 0; right: 0; transform: translate(0, -50%); }
#classPop .btnClose { width: 33px; height: 33px; top: 15px; }
#classPop .btnClose:after, #classPop .btnClose:before { width: 33px; }
#classPop .btnClose:after { bottom: 0; }
#classPop .btnClose:before { bottom: 0; }
#classPop .btnClose span { line-height: 33px; }
#classPop .popBtn { position: absolute; top: 0; right: -8px; width: 33px; height: 33px; margin-top: -40px; }
#classPop .hd { text-align: center; height: 48px; position: relative; }
#classPop .hd strong { display: inline-block; padding: 0 19px; position: relative; font-size: 40px; color: #fff; line-height: 48px; }
#classPop .hd:after { content: ''; display: inline-block; top: 50%; left: 70%; right: 0; height: 1px; background-color: #9b9b9b; position: absolute; }
#classPop .hd:before { content: ''; display: inline-block; top: 50%; right: 70%; left: 0; height: 1px; background-color: #9b9b9b; position: absolute; }
#classPop .contents .classSection .detailInfo { font-size: 15px; line-height: 25px; margin-top: 12px; text-align: center; position: relative; padding: 0 0 29px; word-break: keep-all; word-wrap: break-word; }
#classPop .contents .classSection .detailInfo:after { content: ''; display: inline-block; position: absolute; left: 0; right: 0; bottom: 0; height: 1px; background-color: #9b9b9b; }
#classPop .btnClose:hover:before { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); top: 50%; width: 33px; }
#classPop .btnClose:hover:after { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); bottom: 50%; width: 33px; }
#classPop .btnClose:hover span { opacity: 0; }

#detailPop{color:#fff;}
#detailPop .name { font-size: 40px; line-height: 100px; text-align: center; position: relative; letter-spacing: -3px; }
#detailPop .description { font-size: 15px; line-height: 26px; letter-spacing: -1px; }
#detailPop .contents { width: 85%; left: 0; right: 0; margin: auto; }
#detailPop .battleInfo1 { font-size: 15px; color: #b49a88; float: left; line-height: 30px; margin-top: 20px; margin-right: 40px; position: relative; }
#detailPop .battleInfo1_answer { font-size: 15px; float: left; line-height: 30px; margin-top: 20px; }
#detailPop .battleInfo2 { font-size: 15px; color: #b49a88; clear: both; float: left; line-height: 30px; margin-right: 40px; position: relative; }
#detailPop .battleInfo2_answer { font-size: 15px; float: left; line-height: 30px; }
#detailPop .name:before { content: ''; display: inline-block; width: 100%; height: 11px; background: url(../img/common/share_left.png) no-repeat right center; position: absolute; top: 0; bottom: 0; right: 90%; margin: auto; }
#detailPop .name:after { content: ''; display: inline-block; width: 100%; height: 11px; background: url(../img/common/share_right.png) no-repeat left center; position: absolute; top: 0; bottom: 0; left: 90%; margin: auto; }
#detailPop .battleInfo1:before { content: ''; position: absolute; top: 0; bottom: 0; right: -20px; width: 1px; height: 50%; margin: auto; background: #bebebe; }
#detailPop .battleInfo2:before { content: ''; position: absolute; top: 0; bottom: 0; right: -20px; width: 1px; height: 50%; margin: auto; background: #bebebe; }
#detailPop .btnClose {    margin-left: 30px; top:0; z-index: 5;  position:absolute; z-index: 5; right: -7%; zoom: 0.6;width: 40px; height: 40px; margin-left: 30px; display: inline-block; vertical-align: bottom;}
#detailPop .btnClose a { background: url(../img/common/common_close.png) 0 0 no-repeat; background-size: contain;     display: block; width: 100%; height: 100%; font-size: 0; text-indent: -9999px;}

 /* Preload Img */
div.preloadedImg { position: absolute; overflow: hidden; left: -9999px; top: -9999px; height: 1px; width: 1px; }


@media screen and (max-width: 1670px){
    .pcHeader .innerPc{text-align:right;}
    .visualWrapper .desc .inner {
      position: absolute;
      left: 0px;
      right: 0;
      bottom: 30.6vh;
      color: #d1e0fc;
      font-size: 34px;
      letter-spacing: 2px;
    }
}

/* mobile 768 tablet 1107px ~ 769px pc 1108px*/
@media screen and (max-width: 1366px){
    .pcHeader .gnb .depth01 > li > a{font-size:16px;padding: 0 20px;}
    .visualWrapper .desc .inner {
      position: absolute;
      left: 0px;
      right: 0;
      bottom: 30.6vh;
      color: #d1e0fc;
      font-size: 34px;
      letter-spacing: 2px;
    }
}


@media screen and (max-width: 1107px){
  .visualWrapper .desc .inner {
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 30.6vh;
    color: #d1e0fc;
    font-size: 34px;
    letter-spacing: 2px;
  }
    #wrapper{min-width:100%;}
    .pcHeader,.pc{display: none;}
    .mobile{display: block}
    .mobileHeader{display: block;}
    .sp_comm{background-image:url(../img/common/sp_common_m.png);background-repeat: no-repeat;display: inline-block;vertical-align: top;background-size: 120px;}

    footer .innerFooter{background-color: #212121;text-align: center;padding:20px 30px 110px;}
    footer .innerFooter .snsList a{width:50px;height:50px;margin:0 2px;opacity: 1;}
    footer .innerFooter .info > a:link {text-decoration: none; color: #bebebe;}
    footer .innerFooter .info > a:visited {text-decoration: none; color: #eeeeee;}
    footer .innerFooter .info > a:active {text-decoration: none; color: #fff;}
    footer .innerFooter .info > a:hover {text-decoration: none; color: #fff;}
    
    .innerFooter .dfkorea
    {
      vertical-align: middle;
      display: inline-block;
      width:100px;
      height:32px;
      background-image:url(../img/common/logo_dfkorea.svg);
      background-size:100px auto;
      background-repeat:no-repeat;
      background-position: -8px 50%;
      font-family: 'Noto Sans KR';
      font-style: normal;
      font-weight: 300;
      src: url(./font/NotoSansKR-Regular.woff2) format('woff2'),
           url(./font/NotoSansKR-Regular.woff) format('woff'),
           url(./font/NotoSansKR-Regular.otf) format('embedded-opentype'),
           url(./font/NotoSansKR-Regular.ttf) format('truetype');
    }

    .innerFooter .info{
      line-height:20px;
      font-size: 0.7em;
      padding:2px 0;
      display: block;
      color:#bebebe;
      line-height:1.5em;
      font-family: 'Noto Sans KR';
      font-style: normal;
      font-weight: 300;
      letter-spacing: 0px;
      src: url(./font/NotoSansKR-Regular.woff2) format('woff2'),
           url(./font/NotoSansKR-Regular.woff) format('woff'),
           url(./font/NotoSansKR-Regular.otf) format('embedded-opentype'),
           url(./font/NotoSansKR-Regular.ttf) format('truetype');
    
    }
    .innerFooter .copyrights
    {
      line-height:20px;
      font-size: 9px;
      padding:2px 0;
      display: block;
      font-family: 'NanumSquareRound';
      font-style: normal;
      font-weight:400;
      src:url(./font/NanumSquareRoundR.otf) format('embedded-opentype'),
      url(./font/NanumSquareRoundR.woff) format('woff'),
      url(./font/NanumSquareRoundR.ttf) format('truetype');
    }

    .footerAppList{padding:18px 0;display:block;background:#212121;}
    .footerAppList a img{width:110px;margin:6px 0 6px 50%;transform:translateX(-50%);}
    .footerAppList .appInner > a{display:inline-block;float:none;max-width:30vw;overflow:hidden;}
    .footerAppList .appInner > a + a{border-left:none;border-left:1px solid #bcbcbc;}
    .footerAppList .appInner > a:hover:after{display:none;}

    .twRating{margin:18px 0;}
    .twRating .taiwan{text-align:center;color:#989898;font-size:10px;line-height:13px;padding:32px 0 0 0;position: relative;background-image:url(../img/common/img_tw_age.jpg);background-size:23px;background-repeat:no-repeat;background-position:50% 0;}
    .termsList{padding:0}
    .termsList a{display:block;line-height:21px;color:#989898;font-size:11px;margin:0 auto;}
    .termsList a:hover{color:#989898;}
    .termsList a:after{display: none;width:0;height:0;}


    .container .subHeader{padding: 105px 0 60px; }
    .container .subHeader h3{font-size: 20px;padding:0 25px;}
    .container .subHeader h3:before,.container .subHeader h3:after{content:'';background-image:url(../img/common/sp_common_m.png);width:11px;height:17px;position: absolute;top:50%;margin-top:-8px;background-size: 160px;opacity: 1;}
    .container .subHeader h3:before{background-position: -120px -19px;left:0;}
    .container .subHeader h3:after{background-position: -133px -19px;right:0;}

    .login .loginHeader h3{font-size:22px;padding:0 28px;}
    .login .loginHeader{padding-top:33px;}
    .loginWrap{width:auto;margin:0;padding: 0 15px 30px;}
    .loginBg{height:190px;}
    .login{margin-top:-34px;padding:0 34px 35px;}

    
    .login .loginHeader h3:before, .login .loginHeader h3:after{ background-position-y:-24px; background-image: url(../img/common/sp_common_m.png); background-repeat: no-repeat; vertical-align: top; background-size: 160px; width: 11px; height: 17px; position: absolute; top: 50%; margin-top: -8px; }
    .login .loginHeader h3:before{background-position: 0 -24px;}
    .login .loginHeader h3:after{background-position: -13px -24px;}
    .login .loginContent{margin-top:21px;padding:16px 0;}
    .loginSnsList ul li{margin-top:10px;}
    .loginSnsList ul li > a{width:100%;height:48px;padding:11px;line-height: 25px;}
    .loginSnsList ul li > a .ico_sns{width:24px;height:24px;background-size: 24px;padding-right:11px;}
    .loginSnsList ul li > a .ico_sns:after{height:25px;margin-top:-12px;}
    .loginSnsList ul li a em{font-size:14px;}
    .login .note{font-size: 11px;text-align: center;margin-top:15px;}

    .login .appLinkList {display: block;margin-top:20px;text-align: center;}
    .login .appLinkList strong{display: block;font-size:12px;color:#727274;font-weight: normal;}
    .login .appLinkList ul{display: block;overflow: hidden;margin:12px -5px 0;}
    .login .appLinkList li{float:left;width:50%;text-align: center;}
    .login .appLinkList li a{display: block;margin:0 5px;height:45px;background-color: #000;text-align: center;overflow: hidden;position: relative;}
    .login .appLinkList li a img{height:100%;position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);}

    .btn_gotoTop{width:40px;height:40px;bottom:65px;right:5px;border:1px solid #fff;}
    .btn_gotoTop a{height:40px;background-size: 22px auto;}

    /*telegram mobile*/
    .telegram{width:40px;height:40px;bottom:65px;right:50px;border:1px solid #fff;}
    .telegram a{width:40px;height:41px;background-size: 82px auto;}

    /*nodata*/
    .noData{background-color: #fff;display: block;text-align: center;padding:125px 0;}
    .noData p{padding-top: 50px;position: relative;font-size: 18px;color:#474039;line-height:1.5;}
    .noData p:after{content:'';width:41px;height:41px;display:inline-block;background:url(../img/common/icon_nodata.png);background-repeat:no-repeat;top:0;position: absolute;left:50%;margin-left:-20px;background-size:41px auto;}

    /*popup*/
    .alertPop.popup .content { min-height: inherit; padding: 50px; font-size: 18px; }
    .alertPop.popup .content.instant { min-width: inherit; }
    .alertPop.popup .content:before, .alertPop.popup .content:after { height: 20px; }
    .alertPop.popup .content .btnDone { width: 80px; height: 34px; }
    .blkPop{cursor:pointer;}

    #imagePop .owl-nav button{display:none;}
}

@media screen and (max-width: 414px){
    .alertPop.popup .content { width: calc(100vw - 60px); min-width: inherit; padding: 40px 30px 30px; }
    .popup .container button[type="submit"] { width: 137px; height: 43px; }
   
}

@media screen and (max-width: 360px){
    .alertPop.popup .content { width: calc(100vw - 40px); padding: 30px 20px 20px; }
   
}
