﻿@charset "utf-8";
.visualWrapper {
  position: relative;
  background-color: #000;
}

/*.visualWrapper .thumbnail:before{content: '';display: block;background-color:rgba(0,0,0,.45);position: absolute;top:0;bottom:0;left:0;right:0;z-index: 2;}*/
.visualWrapper .thumbnail {
  width: 100%;
  height: 770px;
  position: relative;
  text-align: center;
}
.visualWrapper .thumbnail img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}
.visualWrapper .item > a {
  display: block;
}
/*.visualWrapper .item:before{content: '';position: absolute;left:0;top:0;bottom:0;width:30%;background: -moz-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(3,3,3,0.4) 1%, rgba(255,255,255,0) 100%);
background: -webkit-linear-gradient(left, rgba(0,0,0,0.4) 0%,rgba(3,3,3,0.4) 1%,rgba(255,255,255,0) 100%); 
background: linear-gradient(to right, rgba(0,0,0,0.4) 0%,rgba(3,3,3,0.4) 1%,rgba(255,255,255,0) 100%);z-index: 3;}
.visualWrapper .item:after{content: '';position: absolute;right:0;top:0;bottom:0;width:30%;background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(3,3,3,0.4) 99%, rgba(0,0,0,0.4) 100%); 
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(3,3,3,0.4) 99%,rgba(0,0,0,0.4) 100%); 
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(3,3,3,0.4) 99%,rgba(0,0,0,0.4) 100%);z-index: 3;}*/

.visualWrapper .desc {
  width: 1200px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  text-align: center;
  z-index: 3;
}

.visualWrapper .desc .inner strong {
  display: block;
  font-size: 75px;
  color: rgba(255, 255, 255, 0.8);
}
.visualWrapper .desc .inner p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 17px;
  line-height: 32px;
}

.visualWrapper i.play {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url("../img/main/icon_play.png");
  top: 300px;
  left: 0;
  right: 0;
  margin: auto auto;
  z-index: 4;
}

.visualWrapper .swiper-pagination {
  font-size: 0;
}
.visualWrapper .swiper-pagination .swiper-pagination-bullet {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #000;
  border-radius: 1;
  opacity: 1;
  transform: rotate(45deg);
  margin: 10px;
}
.visualWrapper .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: #fff;
  border: 1px solid #fff;
  opacity: 1;
}
.visualWrapper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
  border: 1px solid #fff;
  opacity: 1;
}

.slideControl {
  position: absolute;
  left: 0;
  right: 0;
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  top: 0;
}
.slideControl a {
  position: absolute;
  top: 50%;
  width: 88px;
  height: 88px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 2;
  margin-top: -45px;
  transition: 0.3s;
}
.slideControl .navPrev {
  left: -90px;
}
.slideControl .navNext {
  right: -90px;
}
.slideControl .navPrev .sp_comm {
  background-position: -60px 0;
  width: 36px;
  height: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -22px 0 0 -18px;
}
.slideControl .navNext .sp_comm {
  background-position: -101px 0px;
  width: 28px;
  height: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -22px 0 0 -18px;
}
.slideControl a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.mainVisual {
  overflow: hidden;
  width: 100%;
}

.phoneWrapper {
  position: relative;
  margin-top: 50px;
}
.phoneWrapper:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../img/main/bg_main_bottom.png) no-repeat;
  background-size: cover;
  height: 1000px;
}
.phoneWrapper .bgBox {
  position: absolute;
  top: 0;
  bottom: 60px;
  left: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0.35) 70%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 20px;
  width: 1200px;
  margin: 0 auto;
}

.btnList {
  overflow: hidden;
  position: relative;
  z-index: 5;
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
  padding: 66px 0 55px;
}
.btnList .listInner {
  display: inline-block;
}
.btnList .listInner a:first-child:after {
  display: none;
}
.btnList a {
  display: block;
  text-align: center;
  float: left;
  width: 224px;
  position: relative;
}
.btnList a .ico {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-image: url(../img/main/bg_overviewBtn_new.png);
  background-size: 80px auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  position: relative;
  transition: 0.4s;
}
.btnList a .ico:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
  background-image: url(../img/main/bg_overviewBtn_new.png);
  background-size: 80px auto;
  background-position: 0 -82px;
  opacity: 0;
  transition: 0.4s;
}
.btnList a.active .ico:before {
  opacity: 1;
}
.btnList a .ico i {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 70px;
  margin: 5px;
  z-index: 1;
  position: relative;
}
.btnList a:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 136px;
  background-color: rgba(109, 93, 75, 0.3);
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -68px;
}
.btnList a.dominion .ico i {
  background-image: url(../img/main/icon_dominion.png);
}
.btnList a.boss .ico i {
  background-image: url(../img/main/icon_boss.png);
}
.btnList a.customize .ico i {
  background-image: url(../img/main/icon_customize.png);
}
.btnList a.point .ico i {
  background-image: url(../img/main/icon_point.png);
}
/*.btnList a.battle .ico i{background-image:url(../img/main/icon_battle.png)}*/
.btnList a strong {
  display: block;
  font-size: 27px;
  color: #665b51;
  font-weight: normal;
  margin-top: 15px;
  font-weight: 600;
}
.btnList a p {
  display: block;
  font-size: 14px;
  color: #86786a;
  line-height: 1.5;
  margin-top: 2px;
  padding: 0 16px;
  word-wrap: break-word;
  word-break: keep-all;
}
.btnList a p br {
  display: none;
}
.btnList a.active strong {
  color: #71351c;
}
.btnList a.active p {
  color: #66554d;
}

.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 520px;
  height: 80px;
  transition: 0.3s;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  color: #b8aab2;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: none;
}
.btn span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transition: 0.3s;
}
.btn:before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s;
  background-color: rgba(116, 99, 104);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ab8d85),
    to(#735f67)
  );
  background-image: -webkit-linear-gradient(top, #ab8d85, #735f67);
  background-image: -moz-linear-gradient(top, #ab8d85, #735f67);
  background-image: -ms-linear-gradient(top, #ab8d85, #735f67);
  background-image: -o-linear-gradient(top, #ab8d85, #735f67);
  background-image: linear-gradient(to bottom, #ab8d85, #735f67);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#AB8D85, endColorstr=#735F67);
}
.btn:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

@media screen and (min-width: 1024px) {
  .btn:hover {
    border-color: rgba(138, 118, 123);
  }
  .btn:hover span {
    color: #fff;
  }
  .btn:hover:before {
    width: 100%;
  }
  .visualWrapper .item {
    height: 83.9vh;
    position: relative;
    overflow: hidden;
  }
}
/*해상도별 변경포인트 */

@media all and (max-width: 1024px) {
  .visualWrapper .item {
    height: 83vh;
    position: relative;
    overflow: hidden;
  }
  .visualWrapper .desc .inner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 128px;
    bottom: 17.325vh;
    color: #d1e0fc;
    font-size: 20px;
    letter-spacing: 2px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .visualWrapper .item {
    height: 83vh;
    position: relative;
    overflow: hidden;
  }
  .visualWrapper .desc .inner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 128px;
    bottom: 13.325vh;
    color: #d1e0fc;
    font-size: 20px;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .visualWrapper .item {
    height: 83vh;
    position: relative;
    overflow: hidden;
  }
  .visualWrapper .desc .inner {
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 29.325vh;
    color: #d1e0fc;
    font-size: 32px;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  /* 노트북 해상도 수정 포인트 */
  .visualWrapper .item {
    height: 80.5vh;
    position: relative;
    overflow: hidden;
  }
  .visualWrapper .desc .inner {
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 27.5vh;
    color: #d1e0fc;
    font-size: 36px;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 1920px) {
  .visualWrapper .item {
    height: 78.75vh;
    position: relative;
    overflow: hidden;
  }
  .visualWrapper .desc .inner {
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 25.5vh;
    color: #d1e0fc;
    font-size: 40px;
    letter-spacing: 2px;
  }
}

.slideCellphone {
  position: relative;
  height: 532px;
}
.slideCellphone .phoneBG {
  height: 532px;
  margin: 0 auto;
  width: 1018px;
  background: url(../img/main/bg_phone.png) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.slideCellphone .bgslide .swiper-container {
  width: 100% !important;
}
.slideCellphone .bgslide .swiper-slide {
  width: 418px;
  height: 212px;
  z-index: 4;
  position: relative;
}
.slideCellphone .bgslide .swiper-slide:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(234, 228, 213, 0.5);
}
.slideCellphone
  .slider
  .swiper-slide
  .slideCellphone
  .slider
  .swiper-slide
  img {
  width: 100%;
}
.slideCellphone .phoneSlide {
  width: 760px;
  margin: 0 auto;
  z-index: 4;
  overflow: hidden;
  height: 384px;
  padding-top: 57px;
  position: relative;
}
.slideCellphone .bgslide {
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
}
.slideCellphone .bgslide .swiper-slide img {
  width: 100%;
}
.slideCellphone .phoneSlide .swiper-container {
  overflow: hidden;
  height: 384px;
}
.slideCellphone .phoneSlide .swiper-wrapper {
  height: 384px;
}
.slideCellphone .phoneSlide .swiper-slide {
  width: 760px;
}
.slideCellphone .swiper-pagination {
  display: none;
}
.slideCellphone .character {
  position: absolute;
  left: 0;
  right: 0;
  width: 1200px;
  margin: 0 auto;
  bottom: 0;
  height: 586px;
  z-index: 5;
}

.mainSec {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.mainSec .hd {
  text-align: center;
  padding-bottom: 20px;
  position: relative;
}
.mainSec .hd h2 {
  position: relative;
  font-size: 32px;
  color: #474039;
  padding: 0 48px;
  display: inline-block;
  transition: 0.5s;
}
.mainSec .hd h2:before,
.mainSec .hd h2:after {
  content: "";
  background-image: url(../img/common/sp_common5e1f.png?v=2);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 28px;
  position: absolute;
  top: 50%;
  margin-top: -14px;
}
.mainSec .hd h2:before {
  background-position: -140px 0;
  left: 0;
}
.mainSec .hd h2:after {
  background-position: -162px 0;
  right: 0;
}
.mainSec .hd p {
  color: #948d87;
  font-size: 15px;
}
.issue .hd > a {
  display: block;
}
.issue .hd > a:hover h2 {
  padding: 0 70px;
  color: #5e3c1b;
}
.issue .hd > a:hover h2:before {
  background-position: -274px -33px;
}
.issue .hd > a:hover h2:after {
  background-position: -296px -33px;
}
.issue .hd .btnMore {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  width: 50px;
  height: 50px;
  text-align: right;
}
.issue .hd .btnMore .sp_comm {
  background-position: -228px 0;
  width: 22px;
  height: 22px;
  margin-top: 12px;
}
.issue {
  padding-top: 74px;
}
.issueList ul {
  overflow: hidden;
  margin-left: -23px;
}
.issueList li {
  float: left;
  width: 33.33%;
  margin-bottom: 23px;
}
.issueList li:nth-child(4n) {
  clear: both;
}
.issueList li:nth-child(n + 4) {
  display: none;
}
.issueList li a {
  margin-left: 23px;
  display: block;
  position: relative;
}
.issueList li .thumbnail {
  width: 384px;
  height: 195px;
  overflow: hidden;
  position: relative;
}
.issueList li .thumbnail img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.issueList li .thumbnail:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5)
  );
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background: -moz-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5)
  );
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
.issueList li .thumbnail .new {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2em 1em;
  background: #c48755;
  color: #fff;
  font-style: normal;
}
.issueList li .thumbnail .info {
  padding: 18px 24px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 0;
}
.issueList li .thumbnail .info .category {
  display: inline-block;
  font-size: 14px;
}
.issueList li .thumbnail .info .date {
  color: #eae6dd;
  padding-left: 24px;
  display: inline-block;
  position: relative;
  font-size: 14px;
}
.issueList li .thumbnail .info .category.notice {
  color: #dfaf5c;
}
.issueList li .thumbnail .info .category.update {
  color: #7798bc;
}
.issueList li .thumbnail .info .category.event {
  color: #d1786e;
}
.issueList li .thumbnail .info .category.community {
  color: #55b479;
}
.issueList li .thumbnail .info .date:after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  transform: rotate(45deg);
  position: absolute;
  left: 11px;
  top: 50%;
  margin-top: -2px;
}
.issueList li .desc {
  background-color: #fff;
  padding: 18px 24px;
}
.issueList li .desc strong {
  font-size: 20px;
  color: #474039;
  display: block;
  position: relative;
}
.issueList li .desc p {
  font-size: 14px;
  color: #66615c;
  margin-top: 4px;
}
.issueList li a:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 3px solid #9b8262;
  opacity: 0;
  transition: 0.4s;
}
.issueList li a:hover:after {
  opacity: 1;
}
.issueList li a:hover .desc {
  background-color: #f7f3eb;
}

.banner {
  width: 1200px;
  height: 245px;
  position: relative;
  margin-top: 25px;
}
.banner > a {
  display: block;
}
.banner .pc span {
  display: block;
}
.banner .hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
}
.banner > a:hover .hover {
  opacity: 1;
}
.cellPhone_m {
  display: none;
}

.issueList li.noData {
  float: none;
  width: auto;
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
  margin-left: 23px;
}
.issueList li.noData .noData {
  background-color: transparent;
}

.eventSec {
  display: block;
  position: relative;
  z-index: 1;
  padding: 55px 0;
  background: #481e2d;
}
.eventSec h2 {
  display: block;
  text-align: center;
}
.eventSec h2 img {
  margin: 0 auto;
  max-width: 82%;
}
.eventSec .eventSub {
  font-size: 16px;
  color: #a28477;
  text-align: center;
  padding-top: 12px;
}
.eventSec .eventDate {
  max-width: 600px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin-top: 22px;
  padding: 18px 0;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.eventSec figure {
  display: block;
  margin: 0;
}
.eventSec figure img {
  margin: 30px auto;
  max-width: 100%;
}
.eventSec figcaption {
  display: none;
}
.eventSec .btn {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1380px) {
  .slideControl .navPrev {
    left: 0;
  }
  .slideControl .navNext {
    right: 0;
  }
}
@media screen and (max-width: 1107px) {
  .issueList li:nth-child(4n) {
    clear: none;
  }
  .issueList li:nth-child(2n + 1) {
    clear: both;
  }
  .visualWrapper .thumbnail,
  .visualWrapper .item {
    height: 385px;
    overflow: hidden;
  }
  .visualWrapper .thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
  }
  .visualWrapper .desc {
    width: 100%;
  }

  .visualWrapper .desc .inner img {
    width: 60%;
    max-width: 300px;
  }
  .visualWrapper .desc .inner strong {
    font-size: 35px;
  }
  .visualWrapper .desc .inner p {
    font-size: 12px;
    line-height: 1.4;
  }
  .visualWrapper i.play {
    top: 130px;
    width: 80px;
    height: 80px;
    background-size: 100%;
  }
  .swiper-slide-active {
    z-index: 10;
  }
  .slideControl {
    width: 100%;
    margin: 0;
  }
  .slideControl .navPrev {
    left: 0;
  }
  .slideControl .navNext {
    right: 0;
  }
  .slideControl a {
    width: 37px;
    height: 37px;
    margin-top: -18px;
  }
  .slideControl .navPrev .sp_comm {
    background-position: -30px 4px;
    width: 28px;
    height: 34px;
    margin: 0;
    left: 0;
    top: 0;
  }

  .visualWrapper .swiper-pagination .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    margin: 5px;
  }

  .mainSec {
    width: auto;
  }
  .mainSec .hd h2 {
    font-size: 20px;
    padding: 0 26px;
  }
  .mainSec .hd h2:before,
  .mainSec .hd h2:after {
    background-position-y: -24px;
    background-image: url(../img/common/sp_common_m.png);
    background-repeat: no-repeat;
    vertical-align: top;
    background-size: 160px;
    width: 11px;
    height: 17px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
  }
  .mainSec .hd h2:before {
    background-position: 0 -24px;
  }
  .mainSec .hd h2:after {
    background-position: -13px -24px;
  }
  .issue {
    padding-top: 35px;
  }
  .mainSec .hd p {
    font-size: 12px;
  }
  .mainSec .hd {
    padding-bottom: 14px;
  }
  .issue .hd .btnMore {
    display: none;
  }
  .issue .hd > a:hover h2 {
    padding: 0 26px;
  }
  .issueList {
    padding: 0 7px;
  }
  .issueList ul {
    margin-left: 0;
  }
  .issueList li {
    width: 50%;
    margin-bottom: 10px;
  }
  .issueList li a {
    margin: 0 6px;
  }
  .issueList li .thumbnail {
    width: 100%;
    height: auto;
  }
  .issueList li .thumbnail img {
    width: 100%;
    position: relative;
    top: auto;
    left: auto;
    transform: translate(0, 0);
  }
  .issueList li .thumbnail .info {
    padding: 15px 20px;
  }
  .issueList li .desc {
    padding: 15px 20px;
  }
  .issueList li .desc strong {
    font-size: 16px;
  }
  .issueList li .desc p {
    font-size: 12px;
  }
  .issueList li .thumbnail .info .date,
  .issueList li .thumbnail .info .category {
    font-size: 12px;
  }
  .issueList li.noData {
    margin-left: 0;
  }
  .issueList li a:hover:after {
    display: none;
  }
  .issueList li a:hover .desc {
    background-color: #fff;
  }
  .banner {
    margin-top: 20px;
    width: 100%;
    height: auto;
  }
  .banner img {
    width: 100%;
  }
  .phoneWrapper {
    margin-top: 0;
    padding-top: 15px;
    overflow: hidden;
  }
  .phoneWrapper:after {
    content: "";
    display: block;
    clear: both;
  }
  .phoneWrapper .bgBox {
    width: auto;
    margin: 15px;
    bottom: 30px;
  }

  /*.phoneWrapper .bgBox:before{content:'';display:inline-block;width:1px;position:absolute;left:50%;top:25px;bottom:38vh;background-color:rgba(178, 175, 166, 0.5);}
    .phoneWrapper .bgBox:after{content:'';display:inline-block;position:absolute;left:25px;right:25px;top:160px;height:1px;background-color:rgba(178, 175, 166, 0.5);}*/
  .slideCellphone {
    display: none;
  }
  .btnList {
    width: 100%;
    padding: 0;
  }
  .btnList .listInner {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
  }
  .btnList a {
    width: 33.3%;
    padding: 20px 0 0;
  }
  .btnList a:nth-child(1),
  .btnList a:nth-child(3) {
    border-left: 0;
  }
  .btnList a:nth-child(1),
  .btnList a:nth-child(2) {
    margin-top: 0;
  }

  .btnList a:after {
    display: none;
  }
  .btnList a .ico {
    width: 58px;
    height: 58px;
    background-size: 58px;
    background-image: url(../img/main/bg_overviewBtn_m.png);
    opacity: 0.75;
  }
  .btnList a .ico i {
    width: 54px;
    height: 54px;
    background-size: 54px;
    margin: 2px;
  }
  .btnList a strong,
  .btnList a.active strong {
    font-size: 16px;
    margin-top: 6px;
    color: #665b51;
  }
  .btnList a p {
    padding: 0 5px;
  }
  .btnList a p,
  .btnList a.active p {
    font-size: 11px;
    color: #86786a;
  }
  .btnList a .ico:before {
    display: none;
  }
  .btnList a.active .ico {
    opacity: 0.75;
    background-position: 0 0;
  }
  .btnList a:nth-child(5) {
    margin-left: 33.3%;
  }
  /*.btnList a.dominion .ico i{background-image:url(../img/main/icon_dominion_m.png)}*/
  /*.btnList a.boss .ico i{background-image:url(../img/main/icon_boss_m.png)}*/
  .btnList a.customize .ico i {
    background-image: url(../img/main/icon_customize_m.png);
  }
  .btnList a.point .ico i {
    background-image: url(../img/main/icon_point_m.png);
  }
  /*.btnList a.battle .ico i{background-image:url(../img/main/icon_battle_m.png)}*/
  .cellPhone_m {
    height: 36vh;
    width: 100%;
    position: relative;
    display: block;
  }
  .cellPhone_m img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-52%, 22%);
    width: 150%;
    max-width: 800px;
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .phoneWrapper .bgBox:before {
    bottom: 22vh;
  }
  .cellPhone_m {
    height: 32vh;
  }
  .btn {
    border-color: rgba(138, 118, 123);
  }
  .btn span {
    color: #fff;
  }
  .btn:before {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) and (orientation: landscape) {
  .cellPhone_m {
    height: 79vh;
  }
  .cellPhone_m img {
    transform: translate(-52%, 29%);
  }
}

@media screen and (max-width: 640px) {
  .issueList {
    padding: 0 15px;
  }
  .visualWrapper .desc .inner img {
    width: 80%;
  }
  .visualWrapper i.play {
    width: 20%;
    height: 0;
    padding-top: 20%;
    background-size: 100%;
  }
  .issueList li {
    width: 100%;
    margin-bottom: 10px;
  }

  .eventSec {
    padding: 3rem 1.4rem;
  }
  .eventSec .eventSub {
    font-size: 1.08rem;
    padding-top: 0.583rem;
  }
  .eventSec .eventDate {
    font-size: 1.08rem;
    margin-top: 1.25rem;
    padding: 0.583rem 0;
    margin-left: 3rem;
    margin-right: 3rem;
    word-break: keep-all;
  }
  .eventSec figure img {
    margin: 1.375rem auto;
  }
  .eventSec .btn {
    width: 100%;
    height: auto;
    padding: 1.875rem 0;
    font-size: 1.08rem;
  }
}
